@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(211, 231, 237);
}

nav{
  min-height: 13vh;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  align-items: center;
}

.logo{
  font-weight: bolder;
  color: rgb(227, 28, 28);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.links{
  font-weight: bolder;
  color: #2b2b28;
}

.links-wrapper{
  display: flex;
  align-items: center;
  font-weight: bold;
}

.spinner{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.linkss2{
  color: rgb(36, 111, 128);
  font-size: 20px;
  margin-left: 3px;
}

.linkss{
  font-weight: bold;
  color:rgb(211, 231, 237);
  background-color: rgb(227, 28, 28);
  min-height: 17px;
  min-width: 17px;
  border-radius: 50%;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  margin-top: -43px;
  margin-left: -13px;
}

.in-cart-q{
  font-size: 11px;
  font-weight: bold;
}

.title{
  color:   #2b2b28;  
  font-size: 9px;
  font-weight: bolder;
}

.title2{
  color:   #2b2b28;  
  margin-bottom: 20px;
}

.price{
  color: rgb(28, 190, 227);
  font-size: 13px;
  font-weight: bolder;
}

.price2{
  color: rgb(28, 190, 227);
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: 20px;
  display: flex;
}

.price3{
  color: rgb(28, 190, 227);
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: 20px;
  display: flex;
}

.p-title{
  color: black;
  font-size: 9px;
  font-weight: bold
}

.wrapper{
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.wrapper3{
  padding: 30px 60px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.wrapper2{
  padding: 30px 180px;
  display: flex;
  justify-content: center;
    min-height: 100vh;
}

.item{
  width: 200px;
  margin: 5px 25px;
}

.item2{
  width: 200px;
  padding:5px;
  margin: 15px 25px;
}

.item3{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.details{
  margin-left: 20px;
  margin-top: -20px;
}

.detail3{
  display: flex;
  align-items: center;
}

svg{
  margin: 0px 3px;
}

.items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.right{
  margin-left: 10px;
}

.left{
  margin-right: 10px;
}

.description{
  max-width: 400px;
  margin-bottom: 20px;
  color: rgb(164, 161, 161);
}

.quantity-wrapper{
  display: flex;
  margin-bottom: 20px;
}

.quantity{
  margin-right: 2px;
}

.quantity-wrapper2{
  display: flex;
  margin-top: 10px;
}

.qb{
  border: rgb(28, 190, 227) solid 1px ;
  padding: 5px 20px;
  margin: 0px  3px;
  background-color: rgb(211, 231, 237);
  color:rgb(28, 190, 227); 
}

.detail{
  margin: 5px;
  border: solid rgb(28, 190, 227) 1px;
  padding: 5px;
  font-size: 10px;
  font-weight: bolder;
}

.detail2{
  margin: 5px;
  border: solid rgb(28, 190, 227) 1px;
  padding: 5px;
  background-color:    rgb(28, 190, 227);
  font-size: 10px;
  font-weight: bolder;
}

.qb2{
 display: none;
}

.in-cart-btn{
  font-size: 12px;
}

.qqb{
  border: rgb(28, 190, 227) solid 1px ;
  padding: 5px 8px;
  margin: 0px  2px;
  color: rgb(28, 190, 227);
  background-color: rgb(211, 231, 237);
}



.qqb-remove{
  border: rgb(227, 28, 28) solid 1px ;
  padding: 5px 8px;
  background-color: rgb(211, 231, 237);
  margin: 0px  2px;
  color:  rgb(227, 28, 28);
}

.hey{
  background-color: orange;
}

.fa1{
  padding: 5px 20px;
  background-color: rgb(211, 231, 237);
  margin-right: 5px;
  color:rgb(28, 190, 227) ;
  border: rgb(28, 190, 227) solid 1px ;
}

.fa2{
  padding: 5px 20px;
  background-color: rgb(211, 231, 237);
  border: rgb(28, 190, 227) solid 1px ;
  color:rgb(28, 190, 227);
}

.btn{
  background-color: rgb(28, 190, 227);
  height: 5px;
  width: 5px;
  margin: 5px;
}

.btn2{
  background-color: rgb(227, 28, 28);
  height: 5px;
  width: 5px;
  margin: 5px;
}

.cart-w{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  font-size: 12px;
}

.cart-w2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.change-images{
  display: flex;
  margin-top: 10px;
}

.buy-buttons-wrapper{
  display: flex;
}

.add-to-cart{
  padding: 0px 20px;
  margin-right: 5px;
  transition: all .1s linear;
  background-color: rgb(211, 231, 237);
  color:rgb(28, 190, 227); 
  border: rgb(28, 190, 227) solid 1px ;
  font-weight: bold;
}

.add-to-cart:hover{
  transform: scale(1.1);
}

.buy-now{
  border: rgb(28, 190, 227) solid 1px ;
  padding: 0px 20px;
  background-color:rgb(28, 190, 227) ;
  transition: all .1s linear;
  color:rgb(211, 231, 237);
  font-weight: bold;
}


.buy-now:hover{
transform: scale(1.1);
}

.checkout-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px ;
}

.pay-now{
  background-color:  rgb(28, 190, 227);
  padding: 5px 30px;
  margin-top: 10px;
  transition: all .1s linear;
}

.empty{
  margin-bottom: 20px;
}

.add-items{
  background-color:  rgb(28, 190, 227);
  padding: 5px 30px;
  margin: 20px 0px;
}

.pay-now:hover{
  transform: scale(1.1);
}

@media (max-width : 650px){

  .items-wrapper{
    display: grid;
    grid-template-columns: 1fr ;
  }

  .logo-wrapper{
    margin-left: -60px;
  }

  .wrapper2{
    display: grid;
    grid-template-columns: 1fr ;
  }

  .title2{
    color:   #2b2b28;  
    margin-bottom: 20px;
    width: 300px;
  }

  .p-title{
    color: black;
    font-size: 9px;
    font-weight: bold;
    margin-top: 10px ;
  }
}

@media (min-width:650px){

  .items-wrapper{
    display: grid;
    grid-template-columns: 1fr  1fr;
  }

  .wrapper2{
    display: grid;
    grid-template-columns: 1fr;
  }

  .title2{
    color:   #2b2b28;  
    margin-bottom: 20px;
    width: 300px;
  }

  .p-title{
    color: black;
    font-size: 9px;
    font-weight: bold;
    margin-top: 10px ;
  }
}

@media (min-width:880px){

  .items-wrapper{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
  }

  .wrapper2{
    display: grid;
    grid-template-columns: 1fr ;
  }

  .title2{
    color:   #2b2b28;  
    margin-bottom: 20px;
    width: 300px;
  }

  .p-title{
    color: black;
    font-size: 9px;
    font-weight: bold;
    margin-top: 10px ;
  }
}

.footer{
  background-color: black;
  color: rgb(130, 128, 128);
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

@media (min-width : 1200px){
  .items-wrapper{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
  }

  .wrapper2{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .title2{
    color:   #2b2b28;  
    margin-bottom: 20px;
    width: 300px;
  }

  .p-title{
    color: black;
    font-size: 9px;
    font-weight: bold;
    margin-top: 10px ;
  }
}
